@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #f5fbf5;
  }

  body {
    margin: 0;
    min-width: 320px;
    background: #f5fbf5;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}
